<div class="card">
  <a [href]="item.link" target="_blank">
    <div class="card-img-ap" [ngStyle]="style"></div>
  </a>
  <div class="card-body">
    <h5 class="card-title">{{item.name}} </h5>
    <small><span class="text-success" *ngIf="item.available">Disponible</span> <span class="text-danger"
                                                                                     *ngIf="!item.available">No disponible</span>
    </small>
    <p class="card-text">
      <span title="Precio"><i class="fa fa-money"></i> ${{item.price | number : '1.2-2' }}</span>
      <span class="ml-5" title="Cantidad"><i class="fa fa-archive"></i> {{item.quantity}}</span>
    </p>

  </div>
</div>
