@import "./../../../assets/styles/theme";

.card-title {
  text-transform: uppercase;
  color: $info;
  font-size: 1rem;
}

.card-img-top {
  height: 250px;
  width: 100%;
}

.card-img-ap {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
