<section class="filter">
  <div class="container">
    <form>
      <fieldset>
        <div class="row pb-2 pt-2" *ngIf="openCategory">
          <div class="col-md-3 mt-sm-1 list-group" *ngFor="let level of listCategoryMenu; let i = index">
            <a *ngFor="let item of level" class="list-group-item list-group-item-action"
               (click)="selectCategory(item, i)">{{item.name}} <span *ngIf="item.sublevels"
                                                                     class="fa fa-angle-right ml-auto"></span></a>
          </div>
        </div>
        <div class="category text-center pb-3"><a (click)="openCategory = !openCategory">
          Categorías
          <span *ngIf="!openCategory" class="fa fa-chevron-circle-down "></span>
          <span *ngIf="openCategory" class="fa fa-chevron-circle-up"></span>
        </a>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-12 col-12">
            <div class="form-group form-tradicional">
              <label>Buscar</label>
              <input type="text" class="form-control" (change)="loadProduct()" (keypress)="loadProduct()"
                     (keydown)="loadProduct()"
                     [(ngModel)]="search" name="search" placeholder="Buscar..">
            </div>
          </div>
          <div class="col-md-2 col-sm-12 col-12">
            <div class="form-group form-tradicional">
              <label>Ordenar por</label>
              <select class="form-control" [(ngModel)]="orderBy" name="orderBy" (change)="loadProduct()">
                <option value="1">Más Barato</option>
                <option value="2">Más Caro</option>
                <option value="3">Mayor Cantidad</option>
                <option value="4">Menor Cantidad</option>
                <option value="5">Disponibilidad</option>
              </select>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-12">
            <div class="form-group form-tradicional">
              <label>Rango de Precios</label>
              <div class="row">
                <div class="col-md-6 col-sm-12 col-12 pr-md-1">
                  <input type="number" min="0" class="form-control" (change)="loadProduct()"
                         (keypress)="loadProduct()"
                         [(ngModel)]="priceMin" name="priceMin">
                </div>
                <div class="col-md-6 col-sm-12 col-12 pl-md-0">
                  <input type="number" min="0" class="form-control" (change)="loadProduct()"
                         (keypress)="loadProduct()"
                         [(ngModel)]="priceMax" name="priceMax">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12 col-12">
            <div class="form-group form-tradicional">
              <label>Rango de Cantidad</label>
              <div class="row">
                <div class="col-md-6 col-sm-12 col-12 pr-md-1">
                  <input type="number" min="0" class="form-control" (change)="loadProduct()"
                         (keypress)="loadProduct()"
                         [(ngModel)]="qtyMin" name="qtyMin">
                </div>
                <div class="col-md-6 col-sm-12 col-12 pl-md-0">
                  <input type="number" min="0" class="form-control" (change)="loadProduct()"
                         (keypress)="loadProduct()"
                         [(ngModel)]="qtyMax" name="qtyMax">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-12">
            <label>Solo disponibles</label><br>
            <input type="checkbox" class="form-check" [(ngModel)]="disponible" name="disponible"
                   (change)="loadProduct()">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>

<section class="products-cards">
  <div class="container">
    <div class="row categoryName" *ngIf="categorySelect.id > 0">
      <h2>{{categorySelect.name}}</h2>
      <div class="col-md-6 text-right ml-auto">
        <a class="link-todos" (click)="todos()">Ver todas las categorias</a>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of listProducts" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 pt-2 pl-1 pr-0">
        <mini-component [itemInput]="item"></mini-component>
      </div>
    </div>
    <div class="row" *ngIf="listProducts.length < 1">
      <div class="col-md-8 m-auto text-center no-results">
        No hay resultados para su búsqueda
      </div>
    </div>
  </div>
</section>
