@import "assets/styles/theme";

body {
  background-color: $background !important;
  color: $color-font;
  font-family: 'Source Sans Pro', sans-serif;
}


/**
Botones
 */
.btn-info {
  background-color:$info !important;
}
.btn-success {
  background-color:$sucess !important;
}
.btn-danger {
  background-color:$danger !important;
}
.btn-warning {
  background-color:$warning !important;
}

.text-info {
  color:$info !important;
}
.text-success {
  color:$sucess !important;
}
.text-danger {
  color:$danger !important;
}
.text-warning {
  color:$warning !important;
}


@media screen and (max-width: 600px) {
  table {width:100%;}
  thead {display: none;}
  tr:nth-of-type(2n) {background-color: inherit;}
  tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
  tbody td {display: block;  text-align:center;}
  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
  }
}
