$sucess: #94d600;
$danger: #ff434b;
$warning: #ff6d00;
$info: #56d652;


$background: #ffffff;
$color-font: #000000;


$input-color:#8a9bad;

$white:#ffffff;
$gray-strong:#9a9a9a;
$gray-light:#999999;
$gray-background:#f2f2f2;
