<nav class="navbar fixed-top navbar-light navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h1>Venta de Garaje</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
    <div class="collapse navbar-collapse mb-auto mt-2" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-auto">
        <li class="nav-item active" style="margin:-12px">
          <i class="fa fa-dollar mr-2"></i> Puede ser pagado en bolivares, al cambio dolartoday.
        </li>
      </ul>
    </div>
  </div>
</nav>

